$white: #ffffff;
$orange: #ff7a00;
$red: #ff124b;
$blue: #0797ff;
$yellow: #ebff03;
$green: #23c646;

$edge-stickers: (
	'a': $white $blue,
	'b': $white $red,
	'c': $white $green,
	'd': $white $orange,
	'e': $orange $white,
	'f': $orange $green,
	'g': $orange $yellow,
	'h': $orange $blue,
	'i': $green $white,
	'j': $green $red,
	'k': $green $yellow,
	'l': $green $orange,
	'm': $red $white,
	'n': $red $blue,
	'o': $red $yellow,
	'p': $red $green,
	'q': $blue $white,
	'r': $blue $orange,
	's': $blue $yellow,
	't': $blue $red,
	'u': $yellow $green,
	'v': $yellow $red,
	'w': $yellow $blue,
	'x': $yellow $orange,
);

@each $sticker, $colors in $edge-stickers {
	.edge.piece.#{$sticker} {
		.sticker-main {
			fill: nth($colors, 1);
		}
		.sticker-bottom {
			fill: nth($colors, 2);
		}
	}
}

$corner-stickers: (
	'a': $white $blue $orange,
	'b': $white $red $blue,
	'c': $white $green $red,
	'd': $white $orange $green,
	'e': $orange $white $blue,
	'f': $orange $green $white,
	'g': $orange $yellow $green,
	'h': $orange $blue $yellow,
	'i': $green $white $orange,
	'j': $green $red $white,
	'k': $green $yellow $red,
	'l': $green $orange $yellow,
	'm': $red $white $green,
	'n': $red $blue $white,
	'o': $red $yellow $blue,
	'p': $red $green $yellow,
	'q': $blue $white $red,
	'r': $blue $orange $white,
	's': $blue $yellow $orange,
	't': $blue $red $yellow,
	'u': $yellow $green $orange,
	'v': $yellow $red $green,
	'w': $yellow $blue $red,
	'x': $yellow $orange $blue,
);

@each $sticker, $colors in $corner-stickers {
	.corner.piece.#{$sticker} {
		.sticker-primary {
			fill: nth($colors, 1);
		}
		.sticker-secondary {
			fill: nth($colors, 2);
		}
		.sticker-tertiary {
			fill: nth($colors, 3);
		}
	}
}

.piece-frame {
	height: 320px;
	display: flex;
	justify-content: center;
	gap: 40px;
	.piece-parent {
		width: 320px;
		height: auto;
	}
}
